body {
  margin: 0;
  background-image: url(https://media.istockphoto.com/id/1404349453/photo/world-map-topographic-map-dark-ocean-neutral.jpg?b=1&s=170667a&w=0&k=20&c=Rml-4nbch1vHMWxUnMj-Wquy5YYNIHMglkTJmdGmmq4=);
  background-size: cover;
  opacity: 0.9;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
